body{	margin: 50px 0px 0px 0px;	padding: 10px;
	background: #E6E6E6 url(images/main-bg.png) repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #8F8F8F;
}
#ourtable {	border-collapse: collapse;		  }
#ourtable, #ourtable td {border: 2px solid #e0e0e0}
#ourtable td {padding: 2px 5px}
h1, h2, h3
{
	margin: 0;
	padding: 0;
	font-weight: 200;
	color: #222222;
}

h2
{
	font-size: 3em;
}

p, ol, ul
{
	margin-top: 0px;
	padding: 0px;
}

p, ol
{
	line-height: 180%;
}

.pa
{
	
	font-size: 16px;
	padding-left: 20px;
	color: #000;
	display: block;
	padding: 7px 20px 7px 20px;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}
.pb
{
	padding-left: 20px;
	font-size: 16px;
	color: #000;
}


/** WRAPPER */

#wrapper
{
	overflow: hidden;
	width: 1200px;
	margin: 0px auto;
	background: #FFFFFF;
	box-shadow: 0px 0px 20px rgba(0,0,0,.3);
}

/* Page */

#page-wrapper
{
	overflow: hidden;
}

#page
{
	overflow: hidden;
	width: 1120px;
	margin: 0px auto;
	padding: 50px 40px;
	color: #8F8F8F;
}

/** CONTENT */


#wide-content h2
{
	padding: 0px 0px 20px 0px;
	letter-spacing: -1px;
	font-size: 36px;
	color: #222222;
}

/** CONTENT */

#content
{
	float: left;
	width: 800px;
	padding: 0px 0px 0px 0px;
}

#content h2
{
	padding: 0px 0px 20px 0px;
	letter-spacing: -1px;
	font-size: 36px;
	color: #222222;
}

#content .subtitle
{
	padding: 0px 0px 30px 0px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	color: #81AFC5;
}



/* Three Column Footer Content */

#footer-wrapper
{
	background: #F1F2E9;
}

#footer-content
{
	overflow: hidden;
	width: 1120px;
	margin: 0px auto;
	padding: 50px 40px;
	color: #717171;
}

#footer-content h2
{
	margin: 0px;
	padding: 0px 0px 30px 0px;
	letter-spacing: -1px;
	font-size: 30px;
	color: #36332E;
}





